--- 
layout: default 
pagination: 
  enabled: true 
---


<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
<h1>
  <a href="{{ post.url }}">{{ post.title }}</a>
</h1>
<p class="author">
  <span class="date">{{ post.date }}</span>
</p>
<div>
  {{ post.tags }}
</div>
<div class="content mb-4">
  {{ post.excerpt }}
</div>
{% endfor %}


{% if paginator.total_pages > 1 %}
<nav aria-label="Page navigation">
  <ul class="pagination">
    {% if paginator.previous_page %}
    <li class="page-item">
      <a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link"><span>&laquo; Prev</span></a>
    </li>
    {% endif %}

    {% for page in (1..paginator.total_pages) %} 
      {% if page == paginator.page %}
        <li class="page-item active">
          <a class="page-link">{{ page }}</a>
        </li>
      {% elsif page == 1 %}
        <li class="page-item">
          <a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
        </li>
      {% else %}
        <li class="page-item">
          <a class="page-link" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
        </li>
      {% endif %} 
    {% endfor %} 

    {% if paginator.next_page %}
      <li class="page-item">
        <a class="page-link" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link">Next &raquo;</a>
      </li>
    {% endif %}
  </ul>
</nav>
{% endif %}